*{
      margin: 0;
      padding: 0;
 }

.headerBar{
  display:flex;
  height:30px;
  margin:0px;
  background:gray;
  flex-direction:row;
  
  
}
.title1{
       text-align:center;
       background:yellow;
       justify-content:center;
}

.contact{
   text-align:left;
   
}
